############################ Xcode ##############################


## fastlane
fastlane-1.102.0/*
fastlane/reprot.xml
fastlane_lib/*
lcs_fastlane


## Build generated
build/
DerivedData
build/*


## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
*.xcuserstate
._*
.DS_Store

## Other
output/*
output

############################ CocoaPods ##############################
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#

#Pods/

############################ Objective-C Patch ##############################

*.xcscmblueprint

############################ AppCode ##############################

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio

*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/
# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

#Fastlane 
report.xml
contents.xcworkspacedata
SceneDelegateText-master/SceneDelegateText.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
两数相加/两数相加.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
二叉树中的最大路径和/二叉树中的最大路径和.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
克隆图/克隆图.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
各种排序算法实现集合🌲/各种排序算法实现集合🌲.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
字符串相乘/字符串相乘.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
寻找两个正序数组的中位数/寻找两个正序数组的中位数.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
最小区间/最小区间.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
环形链表II/环形链表II.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
稀疏相似度/稀疏相似度.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
被围绕的区域/被围绕的区域.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
解数独/解数独.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
计数二进制子串/计数二进制子串.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
